<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbar" class="navbar-menu">
    <div class="navbar-main">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"><h1 class="title is-1">Tasks</h1></a>
        <div class="navbar-dropdown">
          <a href="/tasks/all-tasks" class="navbar-item"
            ><h3 class="title is-3">All Tasks</h3></a
          >
          <a href="/tasks/by-user" class="navbar-item"
            ><h3 class="title is-3">Tasks by User</h1></a
          >
          <a href="/tasks/by-status" class="navbar-item"
            ><h3 class="title is-3">Tasks by Status</h1></a
          >
          <a href="/tasks/by-urgency" class="navbar-item"
            ><h3 class="title is-3">Tasks by Urgency</h1></a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
